<!-- custom_password_reset_confirm.html -->

{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<style>
  /* Add custom styles here */
  /* For example, to center the container */
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Set a New Password</h2>
  <form method="post">
    {% csrf_token %}
    <div class="input-field">
      <input type="password" name="new_password" id="new_password" class="validate">
      <label for="new_password">New Password</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}
